# Dependencies
node_modules
package-lock.json
yarn.lock

# Environment variables
.env

# OS files
.DS_Store

# Cache
.cache

# Build artifacts
app.config.timestamp_*.js
.output
.vinxi
.vercel
/dist
/build/
/api/
/server/build
/public/build
